@font-face {
  font-family: 'YdestreetB';
  font-style: normal;
  font-weight: normal;
  src: url("font/YdestreetB.woff") format('woff')
}

@font-face {
  font-family: 'LABdigital';
  font-style: normal;
  font-weight: normal;
  src: url("font/LABdigital.woff") format('woff')
}

*{
  font-family: 'YdestreetB';
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-sider, .ant-layout-sider-dark{
  border-left: 2px solid #FFF0F5!important;
}
.ant-layout-sider-children > button:hover{
  color:#C71585!important;
}

.ant-menu-title-content{
  color:#646464!important;

}
.ant-menu-title-content> a{
  color:#646464!important;
}

/* {
  background: #fcfbeb!important;
} */

.ant-menu-title-content:hover{
  color:#E16A93!important;
  background:#FFF0F5;
}

.ant-menu-title-content:hover >.ant-menu-submenu-title{
  background:#FFF0F5;
}

.ant-menu-sub{
  background:#fcfbeb!important;
}

.ant-menu-submenu-active{
  background:#FFF0F5;
}

.ant-menu-submenu-title:hover{
  background:#FFF0F5!important;
}

.ant-menu-submenu:hover, .ant-menu-submenu-inline:hover {
  background: #fcfbeb;
}
.ant-menu-item:hover, .ant-menu-item-only-child:hover{
  background: #fcfbeb;
}


.ant-menu-submenu:hover>.ant-menu-item, .ant-menu-submenu-inline:hover>.ant-menu-item {
  background: #fcfbeb;
  color:#FFD2D7;
}

.ant-menu-submenu-title{
  background: transparent !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent !important;
}
/* 메뉴 박스 호버시 배경색 */
.ant-menu-item:hover, .ant-menu-item-selected:hover, .ant-menu-item-only-child:hover{
  background: #FFF0F5;
}
/* 메뉴 호버시 글자색 */
.ant-menu-item a:hover{
  color:#E16A93 !important;
}

.ant-menu-submenu .ant-menu-submenu-inline .ant-menu-submenu-open:hover{
  background: #FFF0F5;
}
/* 서브메뉴 호버시 글자색 */
.ant-menu-submenu-title:hover{
  color:#C71585!important;
}

  /* 클릭시 배경색 정하기 */
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #FEE8FF!important; 

}
/* 클릭시 글자색 */
.ant-menu-item-selected, .ant-menu-item-selected a, .ant-menu-item-selected a:hover{
  color:#E16A93!important;
}
/* 클릭시 서브메뉴 글자색 */
.ant-menu-submenu-selected {
  color: #C71585 !important; 
}
/* 메뉴 색 */
/* .ant-menu{
} */

/* div 끝에 색처리 */
.ant-menu-inline .ant-menu-item:after{
  border: #FF5675!important;
}
/* 화살표 색 */
.ant-menu-submenu:hover >.ant-menu-submenu-title>.ant-menu-submenu-arrow{
  color: #FFB0D9!important;
}
